*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-around;
    min-height:20vh;
    align-items:center;
}
nav h1{
    font-size:25px;
}
nav ul{
    display:flex;
    justify-content: space-between;
    width:500px;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color:black;
    font-size:25px;
}
.hamburger-nav{
    display: none;
}
.hamburger-container{
    position:relative;
}
.sub-links{
    display:none;
}
.symbol{
    cursor: pointer;
}
.hamburger-nav span{
    display:block;
    margin-bottom:10px;
    width:50px;
    height:2px;
    background-color:black;
}

.open span:first-child{
    transform: rotate(45deg) translate(7px,7px);
}
.open span:nth-child(2){
    display: none;
}
.open span:last-child{
    transform: rotate(-45deg) translate(0px,0px);
}
.nav-links .open {
    display: flex;
    flex-direction: column;
    position:absolute;
    padding:10px;
    text-align:center ;
    right:0;
}
.nav-links li{
    margin-bottom:10px;
}
.title{
    font-size:45px;
}
.logo{
    width:30px;
    height:30px;
    cursor:pointer;
}
.arrow{
    position:absolute;
    right:2rem;
    bottom:2rem;
}
.section{
    display: flex;
    min-height:80vh;
    justify-content:center;
    gap:10rem;
    align-items: center;
    text-align: center;
    position: relative;
    z-index:1;
}
.profile-pic{
    width:300px;
    height:300px;
    border-radius:50px;
    
}
.introduction{
    min-height:50vh;
}
.introduction h1{
    font-size:45px;
    margin-top:10px;
}
.introduction h4{
    font-size:25px;
    margin-bottom:20px;
    color:grey;
}
.introduction .details{
    margin:40px 0px;
}
.introduction .details a {
    text-decoration: none;
    padding:15px 30px;
    background-color:black;
    color:white;
    border-radius:20px;
}
#about{
    text-align: center;
    position: relative;
}
.about-container .text-container{
    width:600px;
}
.text-container.section{
    min-height:auto;
}
.text-container .intro{
    font-size: 18px;  
    line-height: 1.5;  
}
.about-container .section{
    flex-direction: column;
    /* align-items: center; */
    gap:2rem;
}
.qualification{
    border:1px solid black;
    padding:20px 40px;
    border-radius:20px;
}
.qualification p{
    font-size: 15px;
    line-height: 1.7;
}
.qualification h4{
    font-size: 25px;
}

#experience.section{
    flex-direction: column;
    gap:4rem;
    position: relative;
    min-height: 100vh;
}
.experience-container{
    border:1px solid black;
    border-radius:10px;
    padding:20px 40px;
    width: 80%;
    
}
.experience-container h4{
    font-size: 25px;
    margin-bottom:20px;
}
.experience-container .skills{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap:2rem;
}
.skills .skill{
    display:flex;
    justify-content: space-between;
}
.skills .skill .text{
    margin-left:10px;
}
.skill .text h4{
    font-size: 20px;
    margin-bottom: 5px;
}
#projects.section{
    flex-direction: column;
    gap:4rem;
}
.projects-main-container{
    width:1000px;
    display: flex;
    justify-content: center;
}
.projects-sub-container{
    display:flex;
    justify-content: center;
    gap:4rem;
    width:100%;
    padding:0px 10px;
}
.project{
    border:1px solid black;
    padding:30px;
    border-radius:20px;
}
.project .project-image{
    width:250px;
    height:150px;
    border-radius:20px;
    margin-bottom:20px;
}
.project-text .btn{
    margin-top:30px;
    display: flex;
    justify-content:center ;
    gap:1rem;
}
.project-text .btn a{
    padding:10px 20px;
    text-decoration:none;
    border:1px solid black;
    border-radius:20px;
    color:black;
}
#contact.section{
    flex-direction: column;
    gap:4rem;
}
.main-contact-container{
    width:400px;
}
.contact-container{
    width:100%;
    border:1px solid black;
    padding:20px 40px;
    border-radius:20px;
    display: flex;
    justify-content: space-between;
}
.contact-container .btn{
    display: flex;
    align-items: center;
}
.contact-container .btn a{
    text-decoration:none;
    color:black;
}
@media(max-width:1200px){
    .main-nav{
        display:none;
    }
    .hamburger-nav{
        display: flex;
        z-index:10;
    }
    .about-container.section{
        gap:4rem;
    }
    .projects-sub-container{
        gap:2rem;
    }
}
@media(max-width:1050px){
    #about .title{
        margin-bottom:40px;
    }
    .about-container.section{
        flex-direction: column;
    }
    .about-container .text-container{
        justify-content: start;
    }
    .projects-main-container{
        width:100%;
    }
    .project{
        padding:10px;
        width:250px;
    }
    .project-text .btn a{
        padding:10px;
    }
    .project .project-image {
        width: 200px;
    }
}
@media(max-width:850px){
    .projects-sub-container{
        display: block;
    }
    .project{
        width:50%;
        margin:0 auto;
        margin-bottom:40px;
        padding:30px;
    }
    .project .project-image {
        width: 100%;
    }
    #portfolio.section{
        gap:4rem;
    }
}
@media(max-width:750px){
    #portfolio.section{
        display: grid;
    }
    .bottom-nav ul{
        justify-content: center;
        gap:2rem;
    }
    .bottom-nav ul a{
        font-size:20px;
    }
    .about-container .text-container {
        width: 80%;
    }
}